.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
opacity: 90%;
border-radius: 8px;
margin: 5px;
}
.item img {
    padding-right: 5px;
}
.item:hover {
    background-color: rgb(179, 179, 179);
    transition-duration: 0.1s;
    opacity:1;
    cursor: pointer;
}
.itemBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
}