.mainArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}
.aroundFormArea {
    background-color: aliceblue;
}
.textAreas{
    margin: 5px;
}
.upperInscription {
    font-size: 9px;
    position: absolute;
    margin-top: -2px;
    margin-left: 12px;
    background-color: rgb(255, 255, 255);
}